{% include "base.html" %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/searchbar.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<section class="container content-section text-center" style='margin-top: -15px;'>
        <div class="row" style='padding-left: 0px;'>
        	<div style="width:50%;height:0;padding-bottom:30%;position:relative;padding-top: 10%"><iframe src="https://giphy.com/embed/nqyDc7rUVhDH7V7Kmb" width="100%" height="70%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        	<h1 style='padding-bottom: 5vh; color: #9C1C6E'> New York Fitty</h1>
            <div class="col-lg-8 col-lg-offset-2">

                <form method="GET" action="." >
					<input type="text" name="query-1" placeholder="Your URL!" class="btn btn-default btn-lg" style='' />
					<input type="text" name="query-2" placeholder="Gym Type" class="btn btn-default btn-lg" style=''/>
					<br>
					<input type="text" name="query-3" placeholder="Minimum Rating" class="btn btn-default btn-lg" style=''/>
					<input type="text" name="query-4" placeholder="Number of Results" class="btn btn-default btn-lg" style='' />
					<br>
					<input type="submit" value="Search" class="btn btn-default btn-lg" style='background-color: #9C1C6E; color: white; margin-top: 2%;'/>
				</form>
				{% if show_results %}

<!-- 				{% for i in results%}
					<p><a href="company/?query={{ i.rev_comp_id }}">{{ i.rev_company_name }}</a> </p>
				{% endfor %} -->
				<h3>Because you like the category {{type}}, you might also like:</h3>
				{% for i in recommended %}
					<p><a href="/company">{{ i.rev_company_name }}</a></p>
				{% endfor %}
				{% endif %}
            </div>
        </div>
</section>
{% endblock %}